/* Table of contents
----------------------------------------------------------------
- Header
- Bookmarks

*/

/* Header
----------------------------------------------------------------*/

header h1 {
    text-align: center;
}

header {
    background-color: bisque;
}

/* Bookmarks
----------------------------------------------------------------*/

.bookmark {
    /* border: black;
    border-style: solid; */
    box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75);
    margin: 20px;
}

.remove {
    float: right;
    position: relative;
}

.stars-inner {
    color: #f8ce0b;
}

/* Collapsible
----------------------------------------------------------------*/

.toggle {
    display: none;
}

.lbl-toggle {
    display: block;

    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    padding: 1rem;

    cursor: pointer;
}

.lbl-toggle:hover {
    color: #7C5A0B;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;

    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}