/* Table of contents
----------------------------------------------------------------
- Header
- Bookmarks

*/

/* Header
----------------------------------------------------------------*/

header h1 {
    text-align: center;
}

header {
    background-color: bisque;
}

/* Bookmarks
----------------------------------------------------------------*/

.bookmark {
    border: black;
    border-style: solid;
}

.remove {
    float: right;
    position: relative;
}

.stars-inner {
    color: #f8ce0b;
}