/* Table of contents
----------------------------------------------------------------
- Header
- Bookmarks
- Collapsible
- Error Handling

*/

body {
    background-color: #EDEFF1;
}

/* Header
----------------------------------------------------------------*/

header h1 {
    text-align: center;
}

header {
    background-color: #283593;
    color: white;
}

/* Bookmarks
----------------------------------------------------------------*/

.bookmark {
    /* border: black;
    border-style: solid; */
    /* box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75); */
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
    margin: 20px;
    background-color: white;
}

.remove {
    float: right;
    position: relative;
}

.stars-inner {
    color: #f8ce0b;
}

.button.remove,
button.remove:hover {
  color: #FFF;
  background-color: #f44336;
  border-color: #f44336;
}

button.remove {
  color: #f44336;
  background-color: #FFF;
  border: none;
}

button.edit:hover {
  color: #FFF;
  background-color: #1A237E;
  border-color: #1A237E;
}

button.edit {
  color: #283593;
  background-color: #FFF;
  border: none;
}

/* Collapsible
----------------------------------------------------------------*/

.toggle {
    display: none;
}

.lbl-toggle {
    display: block;

    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    padding: 1rem;

    cursor: pointer;
}

.lbl-toggle:hover {
    color: #7C5A0B;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;

    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

/* Error Handling
----------------------------------------------------------------*/

.error-container.error {
    display: inline;
    color: red;
    background-color: #FEEAED;
}

.error-container.success {
    display: inline;
    color: darkgreen;
    background-color: lightgreen;
}